<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificação geral</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
    <pre>
        <center>
            <h1>Brasileirão Série A</h1>
            <table>
                <thead>
                    <tr>
                        <th class="celVazia"></th>
                        <th class="celVazia"></th>
                        <th>Clube</th>
                        <th>Pontos</th>
                        <th>Últimas cinco partidas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="grupo1">
                        <td>1º</td>
                        <td><img src="{{ url_for('static',filename='escudos/internacional.png') }}" alt="Escudo Internacional"></td>
                        <td><a href="internacional" title="Clique para mais detalhes">Internacional</a></td>
                        <td>35</td>
                        <td>&#10060;&#9898;&#9989;&#9989;&#9989;</td>
                    </tr>
                    <tr class="grupo1">
                        <td>2º</td>
                        <td><img src="{{ url_for('static',filename='escudos/flamengo.png') }}" alt="Escudo Flamengo"></td>
                        <td><a href="flamengo" title="Clique para mais detalhes">Flamengo</a></td>
                        <td>35</td>
                        <td>&#10060;&#9898;&#9989;&#9898;&#9989;</td>
                    </tr>
                    <tr class="grupo1">
                        <td>3º</td>
                        <td><img src="{{ url_for('static',filename='escudos/atletico_mg.png') }}" alt="Escudo Atlético-MG"></td>
                        <td><a href="atletico_mg" title="Clique para mais detalhes">Atlético-MG</a></td>
                        <td>32</td>
                        <td>&#10060;&#9898;&#10060;&#9898;&#9989;</td>
                    </tr>
                    <tr class="grupo1">
                        <td>4º</td>
                        <td><img src="{{ url_for('static',filename='escudos/fluminense.png') }}" alt="Escudo Fluminense"></td>
                        <td><a href="fluminense" title="Clique para mais detalhes">Fluminense</a></td>
                        <td>32</td>
                        <td>&#9989;&#9989;&#9898;&#9898;&#9989;</td>
                    </tr>
                    <tr class="grupo2">
                        <td>5º</td>
                        <td><img src="{{ url_for('static',filename='escudos/sao_paulo.png') }}" alt="Escudo São Paulo"></td>
                        <td><a href="sao_paulo" title="Clique para mais detalhes">São Paulo</a></td>
                        <td>30</td>
                        <td>&#9989;&#9898;&#9989;&#9989;&#9898;</td>
                    </tr>
                    <tr class="grupo2">
                        <td>6º</td>
                        <td><img src="{{ url_for('static',filename='escudos/santos.png') }}" alt="Escudo Santos"></td>
                        <td><a href="santos" title="Clique para mais detalhes">Santos</a></td>
                        <td>30</td>
                        <td>&#9989;&#10060;&#9989;&#10060;&#9989;</td>
                    </tr>
                    <tr class="grupo3">
                        <td>7º</td>
                        <td><img src="{{ url_for('static',filename='escudos/palmeiras.png') }}" alt="Escudo Palmeiras"></td>
                        <td><a href="palmeiras" title="Clique para mais detalhes">Palmeiras</a></td>
                        <td>28</td>
                        <td>&#9989;&#9989;&#10060;&#10060;&#10060;</td>
                    </tr>
                    <tr class="grupo3">
                        <td>8º</td>
                        <td><img src="{{ url_for('static',filename='escudos/gremio.png') }}" alt="Escudo Grêmio"></td>
                        <td><a href="gremio" title="Clique para mais detalhes">Grêmio</a></td>
                        <td>27</td>
                        <td>&#9989;&#9989;&#9898;&#9989;&#10060;</td>
                    </tr>
                    <tr class="grupo3">
                        <td>9º</td>
                        <td><img src="{{ url_for('static',filename='escudos/sport_recife.png') }}" alt="Escudo Sport Recife"></td>
                        <td><a href="sport_recife" title="Clique para mais detalhes">Sport Recife</a></td>
                        <td>24</td>
                        <td>&#9989;&#9898;&#10060;&#10060;&#10060;</td>
                    </tr>
                    <tr class="grupo3">
                        <td>10º</td>
                        <td><img src="{{ url_for('static',filename='escudos/fortaleza.png') }}" alt="Escudo Fortaleza"></td>
                        <td><a href="fortaleza" title="Clique para mais detalhes">Fortaleza</a></td>
                        <td>24</td>
                        <td>&#10060;&#9989;&#9898;&#9989;&#9898;</td>
                    </tr>
                    <tr class="grupo3">
                        <td>11º</td>
                        <td><img src="{{ url_for('static',filename='escudos/corinthians.png') }}" alt="Escudo Corinthians"></td>
                        <td><a href="corinthians" title="Clique para mais detalhes">Corinthians</a></td>
                        <td>24</td>
                        <td>&#9989;&#9989;&#10060;&#9989;&#10060;</td>
                    </tr>
                    <tr class="grupo3">
                        <td>12º</td>
                        <td><img src="{{ url_for('static',filename='escudos/ceara_sc.png') }}" alt="Escudo Ceará SC"></td>
                        <td><a href="ceara_sc" title="Clique para mais detalhes">Ceará SC</a></td>
                        <td>23</td>
                        <td>&#9898;&#9989;&#9898;&#9989;&#9898;</td>
                    </tr>
                    <tr>
                        <td>13º</td>
                        <td><img src="{{ url_for('static',filename='escudos/atletico_go.png') }}" alt="Escudo Atlético-GO"></td>
                        <td><a href="atletico_go" title="Clique para mais detalhes">Atlético-GO</a></td>
                        <td>22</td>
                        <td>&#10060;&#10060;&#9898;&#9989;&#9989;</td>
                    </tr>
                    <tr>
                        <td>14º</td>
                        <td><img src="{{ url_for('static',filename='escudos/botafogo.png') }}" alt="Escudo Botafogo"></td>
                        <td><a href="botafogo" title="Clique para mais detalhes">Botafogo</a></td>
                        <td>20</td>
                        <td>&#9898;&#9898;&#10060;&#9989;&#9989;</td>
                    </tr>
                    <tr>
                        <td>15º</td>
                        <td><img src="{{ url_for('static',filename='escudos/bahia.png') }}" alt="Escudo Bahia"></td>
                        <td><a href="bahia" title="Clique para mais detalhes">Bahia</a></td>
                        <td>19</td>
                        <td>&#10060;&#9989;&#9898;&#10060;&#9989;</td>
                    </tr>
                    <tr>
                        <td>16º</td>
                        <td><img src="{{ url_for('static',filename='escudos/vasco_da_gama.png') }}" alt="Escudo Vasco da Gama"></td>
                        <td><a href="vasco_da_gama" title="Clique para mais detalhes">Vasco da Gama</a></td>
                        <td>19</td>
                        <td>&#9898;&#10060;&#10060;&#10060;&#10060;</td>
                    </tr>
                    <tr class="grupo4">
                        <td>17º</td>
                        <td><img src="{{ url_for('static',filename='escudos/coritiba.png') }}" alt="Escudo Coritiba"></td>
                        <td><a href="coritiba" title="Clique para mais detalhes">Coritiba</a></td>
                        <td>19</td>
                        <td>&#9989;&#10060;&#10060;&#9989;&#9898;</td>
                    </tr>
                    <tr class="grupo4">
                        <td>18º</td>
                        <td><img src="{{ url_for('static',filename='escudos/bragantino_sp.png') }}" alt="Escudo Bragantino-SP"></td>
                        <td><a href="bragantino_sp" title="Clique para mais detalhes">Bragantino-SP</a></td>
                        <td>19</td>
                        <td>&#10060;&#9989;&#9989;&#9898;&#10060;</td>
                    </tr>
                    <tr class="grupo4">
                        <td>19º</td>
                        <td><img src="{{ url_for('static',filename='escudos/athletico_pr.png') }}" alt="Escudo Athletico-PR"></td>
                        <td><a href="athletico_pr" title="Clique para mais detalhes">Athletico-PR</a></td>
                        <td>16</td>
                        <td>&#10060;&#10060;&#9898;&#10060;&#10060;</td>
                    </tr>
                    <tr class="grupo4">
                        <td>20º</td>
                        <td><img src="{{ url_for('static',filename='escudos/goias.png') }}" alt="Escudo Goiás"></td>
                        <td><a href="goias" title="Clique para mais detalhes">Goiás</a></td>
                        <td>12</td>
                        <td>&#9898;&#10060;&#9898;&#9898;&#10060;</td>
                    </tr>
                </tbody>
            </table>
            <table class="legendas">
                <thead>
                    <tr>
                        <th>Qualificação/Rebaixamento</th>
                        <th>Legendas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>&#128998; Fase de grupos da Copa Libertadores</td>
                        <td>&#9989; Vitória</td>
                    </tr>
                    <tr>
                        <td>&#128999; Qualificatórias da Copa Libertadores</td>
                        <td>&#9898; Empate</td>
                    </tr>
                    <tr>
                        <td>&#129001; Fase de grupos da Copa Sul-Americana</td>
                        <td>&#10060; Derrota</td>
                    </tr>
                    <tr>
                        <td>&#128997; Rebaixamento</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <footer>
                <p>Made by <a href="https://github.com/LeonardoDantasFigueiredo/desenv_sist_ac05">Coleguinhas</a> &#128128;</p>
                <!-- <p>Última atualização 05/11/2020</p> -->
            </footer>
        </center>
    </pre>
</body>

</html>